	<h1>User show  page</h1>

	<%= graveter_for @user, size: 200%>

	 <% @user.articles.each do |article| %> 
	 <ul>
	 <li> name: <%=article.name %> </li>
	 <li> title: <%=article.title %> </li>
	 <li> categories: <%article.categories.each do |c| %>
	 	<%= c.name %>
	 	<%end%>
	  </li>
	 <br/>
	 <br/>
	 </ul> 
	 <%end %> 
	 <% if logged_in? && @user == current_user %> 
	<%= link_to "edit", edit_user_path(@user)%>
	<%= link_to "delete", user_path(@user), method: :delete, data: {confirm: "are you sure"}%>
	<% end %>
	<%= link_to "return to user listing page", users_path%>
		